<div class="row">

    <div>
        
    <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="NeroImage">
  
    </div>
  
    
    <div><h1>Welcome</h1></div>

    <span> <h3>Login to Continue </h3>  </span>
    
    <div class="col">
      <button type="button" class="btn btn-light"  style="width: 200px;">Connect Wallet</button>
    </div>
   
  <div>
    <button type="button" class="btn btn-primary btn-sm"   [routerLink]="['/signup']"  style="width: 150px;"><i class="fi fi-bs-user"></i>Login</button>
  
  </div>
  
    <div class="no">
  
      <h5>Dont have a wallet?  <a  [routerLink]="['/Otp']"> create one</a></h5>
    </div>
  
  </div>
  
  
  <!--   a card ill use later need to design the perfect colour 
  
  
  <div class=" box shadow-lg p-3 mb-5 bg-body-tertiary rounded align ">
  
    <div class="row">
  
      <div>
          
      <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="NeroImage">
    
      </div>
    
      
      <div><h1>Welcome</h1></div>
      <h3>Login to Continue </h3>
      
      <div class="col">
        <button type="button" class="btn btn-light"  style="width: 200px;">Connect Wallet</button>
      </div>
     
    <div>
      <button type="button" class="btn btn-primary btn-sm"   style="width: 150px;">Login</button>
    
    </div>
    
      <div class="no">
    
        <h5>Dont have an account?  <a href="https://www.example.com"> create one</a>
        </h5>
      </div>
    
    </div>
    
    
  
  
  </div>
  
   -->
