

<div 
class="row" >


      <div>
        <img src="../../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="">
  

      </div>  
   
    

    <div class="H1" ><h1>Create a PIN</h1></div>
    
    <h6 class="prefer" >  Enter a  digit PIN to access the wallet </h6> 
                
    <div class="signup"  >  

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          </div>
    
          <div class=" sign mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name & Surname</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name and Surname">
          </div>
    
          <div class=" sign mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
          </div>
    
          <div class=" sign mb-3">
            <label for="exampleFormControlInput1" class="form-label">Verify Password</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Verify Password">
         
        
        </div>
    
      
    </div>
    <div class="b" >


        <button type="button" class="btn btn-danger"  [routerLink]="['/signup']"   style="width: 150px;">Proceed</button>
      </div>
</div > 
 






        
    
