
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
    
      <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png"  width="50px" alt="NeroImage">
  

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Option 1</a></li>
              <li><a class="dropdown-item" href="#">Option 2</a></li>
              <li><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

<br>
<br>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../profile']">   <i class="fi fi-brands-bitcoin"></i>  Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">  <i class="fi fi-rr-shopping-cart"></i> Trading Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fi fi-brands-bitcoin"></i> Crypto Currencies</a>
        
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fi fi-rr-search"></i> Nft Market Place</a>
          
              </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">   Dashboard</h1>
        </div>

        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Wallet Balance</h5>
                <hr>

             <div class="balance" >
<h5>Rand 0.00
</h5>
<h5>Dollar $0.00</h5>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <button class="btn btn-primary slide-left">Left Button</button>
    </div>
    <div class="col-md-6 text-center">
      <button class="btn btn-primary slide-right">Right Button</button>
    </div>
  </div>
</div>



             </div>
                
            
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class=" cuu card-title">Crypto Tokens</h5>
                <hr>

                

                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 d-flex ">
                        <img src="https://via.placeholder.com/30" class="img-fluid rounded-circle" alt="Bitcoin Logo">
                        <h6 class="card-title">Bitcoin</h6>
                      </div>

                      <div class="col-9">
                        
                            <div class="carousel-item active  ">
                            
                              <p class="card-text text-end">5</p>
                            </div>
                            
   
                      </div>
                    </div>
                  </div>
                </div>
                

                </div>

                
            </div>

            
          </div>

          <div class=" nf col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class=" cuu card-title">Nft Holdings</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary d-flex mx-auto">Buy More Nft's</button></div>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>
  

  <div><h1>sdvs</h1></div>