
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Zeyada&display=swap" rel="stylesheet">



<div class="row" >
  <div class="card">
    <div class="card-body">
      <h1>Sign-in</h1>
     </div>

     <div>

      <div class="signup needs-validation" novalidate  >  

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          </div>
  
    
          <div class=" sign mb-3">
            <label for="exampleFormControlInput1" class="form-label">Verify Password</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Verify Password">
         
        
        </div>
    
      
    </div>
            <button type="submit" class="btn btn-success"  [routerLink]="['/nav']"   style="width: 150px;">Proceed</button>
      
      
        
      
    
      
      
     </div>

     <div class="icons" >
      <i class="fi fi-brands-instagram"></i>
      <i class="fi fi-brands-facebook"></i>
      <i class="fi fi-brands-whatsapp"></i>
      <i class="fi fi-brands-twitter"></i>
     </div>
  
  </div>


</div>

 
